<div class="p-6">
  <h2 class="text-2xl font-bold mb-4">Produtos</h2>

  <div class="bg-gray-50 p-6 rounded-lg shadow-inner mb-6">
    <h3 class="text-lg font-semibold mb-4 text-gray-700">Adicionar Produto</h3>

    <form [formGroup]="productForm" (ngSubmit)="createProduct()" class="grid grid-cols-4 gap-4">
      <input
        type="text"
        placeholder="Nome"
        formControlName="name"
        class="border p-2 rounded-md col-span-1 focus:ring-2 focus:ring-blue-400 outline-none"
      />

      <input
        type="text"
        placeholder="Descrição"
        formControlName="description"
        class="border p-2 rounded-md col-span-1 focus:ring-2 focus:ring-blue-400 outline-none"
      />

      <input
        type="text"
        placeholder="Categoria"
        formControlName="category"
        class="border p-2 rounded-md col-span-1 focus:ring-2 focus:ring-blue-400 outline-none"
      />

      <!-- <input
        type="number"
        placeholder="Qtd"
        formControlName="quantity"
        class="border p-2 rounded-md col-span-1 focus:ring-2 focus:ring-blue-400 outline-none"
      /> -->

      <!-- <input
        type="text"
        step="0.01"
        placeholder="R$ 0,00"
        formControlName="price"
        (input)="onPriceInput($event)"
        class="border p-2 rounded-md col-span-1 focus:ring-2 focus:ring-blue-400 outline-none"
      /> -->

      <div class="col-span-4 flex justify-end mt-2">
        <button
          [disabled]="productForm.invalid"
          class="bg-green-500 hover:bg-green-600 text-white px-6 py-2 rounded-md shadow-sm transition-all"
        >
          + Adicionar Produto
        </button>
      </div>
    </form>
  </div>

  <table class="table-auto w-full border border-gray-300 rounded-lg shadow">
    <thead class="bg-gray-200">
      <tr>
        <th class="p-3 text-left">Produto</th>
        <th class="p-3 text-left">Descrição</th>
        <th class="p-3 text-center">Categoria</th>
        <!-- <th class="p-3 text-center">Qtd</th>
        <th class="p-3 text-center">Preço</th>
        <th class="p-3 text-center">Valor Total</th> -->
        <th class="p-3 text-center">Ações</th>
      </tr>
    </thead>

    <tbody>
      @if (products.length > 0) {
      <tr
        *ngFor="let product of products"
        [ngClass]="{
          'bg-red-100 transition-colors duration-500': highlightedProductId === product.id,
          'bg-red-50': isLowStock(product) && highlightedProductId !== product.id
        }"
      >
        <td class="p-3">{{ product.name }}</td>
        <td class="p-3">{{ product.description || '-' }}</td>
        <td class="p-3 text-center">{{ product.category || '-' }}</td>
        <!-- <td class="p-3 text-center font-semibold">{{ product.quantity }}</td> -->
        <!-- <td class="p-3 text-center">
        {{ product.price | currency : 'BRL' : 'symbol' : '1.2-2' }}
      </td>
      <td class="p-3 text-center">
        {{ product.price * product.quantity | currency : 'BRL' : 'symbol' }}
      </td> -->
        <td class="p-3 text-center">
          <div class="flex justify-center gap-2">
            <ng-container *ngIf="editingProductId !== product.id; else editingMode">
              <button
                (click)="updateProduct(product)"
                class="btn bg-blue-500 hover:bg-blue-600 text-white border-none px-4 py-2 text-sm rounded-md shadow-sm hover:shadow-md transition-all"
              >
                Editar
              </button>

              <button
                (click)="deleteProduct(product.id)"
                class="btn bg-red-500 hover:bg-red-600 text-white border-none px-4 py-2 text-sm rounded-md shadow-sm hover:shadow-md transition-all"
              >
                Excluir
              </button>
            </ng-container>

            <ng-template #editingMode>
              <button
                (click)="saveProduct()"
                class="btn bg-green-600 hover:bg-green-700 text-white border-none px-4 py-2 text-sm rounded-md shadow-sm hover:shadow-md transition-all"
              >
                Salvar
              </button>

              <button
                (click)="cancelEdit()"
                class="btn bg-gray-400 hover:bg-gray-500 text-white border-none px-4 py-2 text-sm rounded-md shadow-sm hover:shadow-md transition-all"
              >
                Cancelar
              </button>
            </ng-template>
          </div>
        </td>
      </tr>
      } @else {
      <tr>
        <td colspan="4" class="p-6 text-center text-gray-500 italic">Nenhum produto encontrado.</td>
      </tr>
      }
    </tbody>
  </table>
</div>
