<div class="p-6">
  <h2 class="text-2xl font-bold mb-4">Movimentações</h2>

  <form [formGroup]="movementForm" class="grid grid-cols-3 gap-4 mb-6">
    <div class="bg-gray-100 rounded-lg p-4 text-center shadow">
      <h3 class="text-gray-500 text-sm">Total de Produtos</h3>
      <p class="text-2xl font-bold">{{ totalProducts }}</p>
    </div>

    <div class="bg-gray-100 rounded-lg p-4 text-center shadow">
      <h3 class="text-gray-500 text-sm">Quantidade Total</h3>
      <p class="text-2xl font-bold">{{ totalQuantity }}</p>
    </div>

    <div class="bg-gray-100 rounded-lg p-4 text-center shadow">
      <h3 class="text-gray-500 text-sm">Valor Total</h3>
      <p class="text-2xl font-bold">
        <span>R$</span>
        <span class="ml-1">{{ totalValue | number : '1.2-2' }}</span>
      </p>
    </div>

    <div class="flex w-1/3 items-center mb-4 col-span-3">
      <input
        type="text"
        placeholder="Buscar movimentações..."
        class="border p-3 rounded-md w-full focus:ring-2 focus:ring-blue-400 outline-none"
        (input)="onSearchMovements($event)"
      />
    </div>

    <select
      formControlName="productName"
      class="col-span-1 w-full px-3 py-2 rounded-lg border border-gray-300 bg-white shadow-sm focus:border-indigo-500 focus:ring-2 focus:ring-indigo-300 outline-none transition"
    >
      <option value="" disabled selected>Selecione um produto</option>
      @for (product of products; track product.id) {
      <option [value]="product.name">{{ product.name }}</option>
      }
    </select>

    <input
      type="number"
      placeholder="Quantidade"
      formControlName="quantity"
      class="col-span-1 w-full px-3 py-2 rounded-lg border border-gray-300 bg-white shadow-sm focus:border-indigo-500 focus:ring-2 focus:ring-indigo-300 outline-none transition"
    />

    <input
      type="text"
      placeholder="R$ 0,00"
      formControlName="price"
      (input)="onPriceInput($event)"
      class="col-span-1 w-full px-3 py-2 rounded-lg border border-gray-300 bg-white shadow-sm text-right font-medium focus:border-indigo-500 focus:ring-2 focus:ring-indigo-300 outline-none transition"
    />

    <select
      formControlName="type"
      class="col-span-1 w-full px-3 py-2 rounded-lg border border-gray-300 bg-white shadow-sm focus:border-indigo-500 focus:ring-2 focus:ring-indigo-300 outline-none transition"
    >
      <option value="" disabled selected>Selecione o tipo</option>
      <option value="entrada">Entrada</option>
      <option value="saida">Saída</option>
    </select>

    <div class="col-span-3 flex justify-end mt-4 gap-3">
      <button
        type="button"
        (click)="createMovement()"
        [disabled]="movementForm.invalid"
        class="bg-green-600 cursor-pointer text-white px-4 py-2 rounded-md shadow hover:bg-green-700 active:scale-95 transition-all disabled:bg-gray-400 disabled:cursor-not-allowed"
      >
        Adicionar Movimentação
      </button>

      <button
        type="button"
        (click)="clearMovements()"
        class="bg-red-600 text-white px-4 py-2 rounded-md shadow hover:bg-red-700 active:scale-95 transition-all"
      >
        Limpar Movimentações
      </button>
    </div>
  </form>

  <table class="table-auto w-full border border-gray-300 rounded-lg shadow">
    <thead class="bg-gray-200">
      <tr>
        <th class="p-3 text-left">Produto</th>
        <th class="p-3 text-left">Tipo</th>
        <th class="p-3 text-center">Quantidade</th>
        <th class="p-3 text-center">Preço</th>
        <th class="p-3 text-center">Valor Total</th>
        <th class="p-3 text-center">Data/Hora</th>
      </tr>
    </thead>

    <tbody>
      @if (movements.length === 0) {
      <tr>
        <td colspan="6" class="p-6 text-center text-gray-500 italic">
          Nenhuma movimentação encontrada.
        </td>
      </tr>
      } @for (movement of movements; track movement.id) {
      <tr>
        <td class="p-3">{{ movement.productName || movement.productId }}</td>

        <td
          class="p-3"
          [ngClass]="{
            'text-green-600': movement.type === 'entrada',
            'text-red-600': movement.type === 'saida'
          }"
        >
          {{ movement.type }}
        </td>

        <td class="p-3 text-center">{{ movement.quantity }}</td>

        <td class="p-3 text-center">
          {{ movement.price | number : '1.2-2' }}
        </td>

        <td class="p-3 text-center">
          {{ movement.quantity * movement.price | number : '1.2-2' }}
        </td>

        <td class="p-3 text-center">{{ formatDate(movement.createdAt) }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
